*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1{
    height: 30vh;
    width: 20vw;
    background-color: blue;
    float: right;
}
.box2{
    
    color: green;
}
.box3{
    height: 30vh;
    width: 20vw;
    background-color: red;
    float: right;
}
.box4{
    clear: right;
    color: brown;
}