*{
    padding: 0;
    margin: 0;
}
.box1{
    width: 90vw;
    min-height: 20vh;
    border: 2px solid black;
    
    margin: 1% auto;
    box-sizing: border-box;
    box-shadow:  1px 1px 15px 2px;
}
.box2{
    width: 90vw;
    min-height: 20vh;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 1% auto;
    text-shadow: aqua;
}

.box2>p{
    text-shadow: aqua 1px 1px 5px ;
}
.box3{
    width: 90vw;
    min-height: 20vh;
    border: 2px solid black;
    
    margin: 1% auto;
    box-sizing: border-box;
    outline: red solid 2px;
}