*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstDiv{
    height: 30%;
    width: 25%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

}
.secondDiv{
    height: 30%;
    width: 25%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

}

#fPara{
    background-color: bisque;
    padding: 2%;
}
#sPara{
    background-color: coral;
    padding: 2%;
}

