*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color: whitesmoke;
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
}
.nav ul{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
}

.nav ul li{
    list-style: none;
    margin-right: 8%;
}
.container{
    width: 90vw;
    height: 80vh;
    background-color: white;
    margin-top: 2.5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    row-gap: 7.5%;
    column-gap: 5%;
    justify-items:center ;
    align-items: center;
    padding: 5% 2.5%;
}
.box{
    width: 100%;
    height: 100%;
    background-color: aliceblue;

}
.box h1{
    font-size: 130%;
    margin-left: 40%;
    margin-top: 1%;
}
.box .left{
    margin: 7%;
    display: inline-block;

    border-radius: 4px;
    background-color: aqua;
    padding: 1.5%;
    color: white;
}
.box .right{
    margin-left: 14%;
    display: inline-block;

    border-radius: 4px;
    background-color: rgb(141, 205, 46);
    padding: 1.5%;
    color: rgb(250, 247, 247);
    font-size: 100%;
    box-sizing: border-box;
}